#!/usr/bin/env sh

OPENAI_API_KEY="sk-proj-xxx"
ANTHROPIC_API_KEY="sk-ant-api03-xxx"
GEMINI_API_KEY="AIxxx"
GOOGLE_API_KEY="AIxxx"
DEEPSEEK_API_KEY="sk-xxx"
OPENROUTER_API_KEY="sk-or-v1"
GITHUB_PERSONAL_ACCESS_TOKEN="github_pat"
DISCORD_TOKEN=your_new_token
DISCORD_GUILD_ID=1495840590410023121
SPRING_PROFILES_ACTIVE=http
GCLOUD_PROJECT_ACCOUNT="sanjarcode@gmail.com"
GCLOUD_PROJECT_ID="main-494210"
SERVICE_ACCOUNT_PATH="" https://github.com/xing5/mcp-google-sheets#method-a-service-account-recommended-for-serversautomation-
DRIVE_FOLDER_ID="" # https://github.com/xing5/mcp-google-sheets#method-a-service-account-recommended-for-serversautomation-
MATON_API_KEY="v2.xxxx" for OpenClaw Linkedin skill https://clawhub.ai/byungkyu/linkedin-api
MATON_CONNECTION_ID_LINKEDIN="c241v"
MATON_CONNECTION_ID_YOUTUBE="c54"
