#!/usr/bin/env sh

ANTHROPIC_API_KEY="sk-ant-api03-xxx"
DEEPSEEK_API_KEY="sk-xxx"
DISCORD_GUILD_ID=1495840590410023121
DISCORD_TOKEN=your_new_token
DRIVE_FOLDER_ID="" # https://github.com/xing5/mcp-google-sheets#method-a-service-account-recommended-for-serversautomation-
GCLOUD_PROJECT_ACCOUNT="sanjarcode@gmail.com"
GCLOUD_PROJECT_ID="main-494210"
GEMINI_API_KEY="AIxxx"
GITHUB_PERSONAL_ACCESS_TOKEN="github_pat"
GOOGLE_API_KEY="AIxxx"
HF_TOKEN="hf_Pxxx"
HOME_ADDRESS="xxx"
HOUZED_WORK_EMAIL="xxx"
MATON_API_KEY="v2.xxxx" # for OpenClaw Linkedin skill https://clawhub.ai/byungkyu/linkedin-api
MATON_CONNECTION_ID_LINKEDIN="c241v"
MATON_CONNECTION_ID_YOUTUBE="c54"
OPENAI_API_KEY="sk-proj-xxx"
OPENROUTER_API_KEY="sk-or-v1"
PERSONAL_EMAIL_ADDRESS="xxx"
PHONE_NUMBER="+91xxx"
SERVICE_ACCOUNT_PATH="" # https://github.com/xing5/mcp-google-sheets#method-a-service-account-recommended-for-serversautomation-
SPRING_PROFILES_ACTIVE=http
ZOOMCAR_JENKINS_PASSWORD=""
ZOOMCAR_JENKINS_USERNAME=""
ZOOMCAR_WORK_EMAIL="sanjarxxx"
