#!/usr/bin/env sh

export ANTHROPIC_API_KEY="sk-ant-api03-xxx"
export DEEPSEEK_API_KEY="sk-xxx"
export DISCORD_GUILD_ID=1495840590410023121
export DISCORD_TOKEN=your_new_token
export DRIVE_FOLDER_ID="" # https://github.com/xing5/mcp-google-sheets#method-a-service-account-recommended-for-serversautomation-
export GCLOUD_PROJECT_ACCOUNT="sanjarcode@gmail.com"
export GCLOUD_PROJECT_ID="main-494210"
export GEMINI_API_KEY="AIxxx"
export GITHUB_PERSONAL_ACCESS_TOKEN="github_pat"
export GOOGLE_API_KEY="AIxxx"
export HF_TOKEN="hf_Pxxx"
export HOME_ADDRESS="xxx"
export HOUZED_WORK_EMAIL="xxx"
export MATON_API_KEY="v2.xxxx" # for OpenClaw Linkedin skill https://clawhub.ai/byungkyu/linkedin-api
export MATON_CONNECTION_ID_LINKEDIN="c241v"
export MATON_CONNECTION_ID_YOUTUBE="c54"
export NOTION_API_TOKEN="ntn_..."
export OPENAI_API_KEY="sk-proj-xxx"
export OPENROUTER_API_KEY="sk-or-v1"
export PERSONAL_EMAIL_ADDRESS="xxx"
export PHONE_NUMBER="+91xxx"
export SERVICE_ACCOUNT_PATH="" # https://github.com/xing5/mcp-google-sheets#method-a-service-account-recommended-for-serversautomation-
export SPRING_PROFILES_ACTIVE=http
export ZOOMCAR_JENKINS_PASSWORD=""
export ZOOMCAR_JENKINS_USERNAME=""
export ZOOMCAR_WORK_EMAIL="sanjarxxx"
export SECOND_BRAIN_TASKS_LIST="https://www.notion.so/usernmae/id"
export SECOND_BRAIN_ACTIVITIES_LIST="https://www.notion.so/usernmae/id"
export SECOND_BRAIN_FEEDBACK_LIST="https://www.notion.so/usernmae/id"
export SECOND_BRAIN_GOALS_LIST="https://www.notion.so/usernmae/id"
export SECOND_BRAIN_IDEAS_LIST="https://www.notion.so/usernmae/id"
export SECOND_BRAIN_CURRENT_LIVING_SITUATION="https://www.notion.so/usernmae/id"
